@{
    ViewBag.Title = "DataTable";
}
<link href="@Url.Content("~/Content/jquery.dataTables_themeroller.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" ></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.blockUI.js")" ></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/debug.js")" ></script>
<style>
    
    #foodGroups .ui-selecting
    {
        background: #FECA40;
    }
    #foodGroups .ui-selected
    {
        background: #F39814;
        color: white;
    }
    #foodGroups
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #foodGroups li
    {
        margin: 3px;
        padding: 1px;
        float: left;
        width: 300px;
        height: 25px;
        font-size: -1.5em;
        text-align: left;
    }
</style>
<script type="text/javascript" charset="utf-8">
    function selectSelectableElement(selectableContainer, elementToSelect) {
        // add unselecting class to all elements in the styleboard canvas except current one
        jQuery("li", selectableContainer).each(function () {
            if (this != elementToSelect[0])
                jQuery(this).removeClass("ui-selected").addClass("ui-unselecting");
        });

        // add ui-selecting class to the element to select
        elementToSelect.addClass("ui-selecting");

        // trigger the mouse stop event (this will select all .ui-selecting elements, and deselect all .ui-unselecting elements)
        selectableContainer.data("selectable")._mouseStop(null);
    }

    $.fn.dataTableExt.oApi.fnReloadAjax = function (oSettings, sNewSource, fnCallback, bStandingRedraw) {
        if (typeof sNewSource != 'undefined' && sNewSource != null) {
            oSettings.sAjaxSource = sNewSource;
        }
        this.oApi._fnProcessingDisplay(oSettings, true);
        var that = this;
        var iStart = oSettings._iDisplayStart;
        var aData = [];

        this.oApi._fnServerParams(oSettings, aData);

        oSettings.fnServerData(oSettings.sAjaxSource, aData, function (json) {
            /* Clear the old information from the table */
            that.oApi._fnClearTable(oSettings);

            /* Got the data - add it to the table */
            var aData = (oSettings.sAjaxDataProp !== "") ?
            that.oApi._fnGetObjectDataFn(oSettings.sAjaxDataProp)(json) : json;

            for (var i = 0; i < aData.length; i++) {
                that.oApi._fnAddData(oSettings, aData[i]);
            }

            oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
            that.fnDraw();

            if (typeof bStandingRedraw != 'undefined' && bStandingRedraw === true) {
                oSettings._iDisplayStart = iStart;
                that.fnDraw(false);
            }

            that.oApi._fnProcessingDisplay(oSettings, false);

            /* Callback user function - for event handlers etc */
            if (typeof fnCallback == 'function' && fnCallback != null) {
                fnCallback(oSettings);
            }
        }, oSettings);
    }

    var selectedArray;
    var oTable;
    $(document).ready(function () {

        $.blockUI({ message: '<h3><img src="../../../../Content/images/busy.gif" /> Processing remote call...</h3>' });

        $.getJSON('http://serviceendpoint.apphb.com/FoodGroups/GetAll.jsonp?callback=?', function (data) {

            var items = [];

            $.each(data.aaData, function (key, val) {
                items.push('<li id="' + val[0] + '" class="ui-widget-content">' + val[1] + '</li>');
            });

            $('<ol />', {
                'id': 'foodGroups',
                html: items.join('')
            }).appendTo($('#results'));

            $("#foodGroups").selectable();

            selectSelectableElement(jQuery("#foodGroups"), jQuery("#foodGroups").children(":eq(0)"));

            oTable = $('#foodDesc').dataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": true,
                "sScrollY": "400",
                "sScrollX": "400",
                "bScrollCollapse": false,
                "bJQueryUI": true,
                "bProcessing": true,
                "sAjaxSource": "http://serviceendpoint.apphb.com/FoodDescriptions/GetByFG.jsonp?callback=?",
                "fnServerParams": function (aoData) {
                    if (selectedArray != undefined) {
                        for (var i = 0; i < selectedArray.length; i++) {
                            aoData.push({ "name": "id", "value": selectedArray[i].id });
                        }
                    }
                    else {
                        aoData.push({ "name": "id", "value": "0100" });
                    }
                },
                "fnServerData": function (sUrl, aoData, fnCallback) {
                    $.ajax({
                        "url": sUrl,
                        "data": aoData,
                        "success": fnCallback,
                        "dataType": "jsonp",
                        "cache": false
                    });
                },
                "bDeferRender": true,
                "bStateSave": true,
                "aoColumns": [
                                { "sName": "NDB_No", "sTitle": "Id" },
                                { "sName": "FdGrp_Cd", "sTitle": "FoodGroupId" },
                                { "sName": "Long_Desc", "sTitle": "Long Description" },
                                { "sName": "Shrt_Desc", "sTitle": "Short Description" },
                                { "sName": "ComName" },
                                { "sName": "ManufacName" },
                                { "sName": "Survey" },
                                { "sName": "Ref_Desc" },
                                { "sName": "Refuse" },
                                { "sName": "SciName" },
                                { "sName": "N_Factor" },
                                { "sName": "Pro_Factor" },
                                { "sName": "Fat_Factor" },
                                { "sName": "CHO_Factor" }
                             ]
            });

            $("#foodGroups").on("selectablestop", function (event, ui) {
                selectedArray = $(".ui-selected", this);
                oTable.fnReloadAjax();
            });

            $.unblockUI();
        });
    });
</script>
<div class="left">
    <div id="results">
    </div>
</div>
<div class="right">
    <table id="foodDesc">
        <thead>
            <tr>
                <th>
                    NDB_No
                </th>
                <th>
                    FdGrp_Cd
                </th>
                <th>
                    Long_Desc
                </th>
                <th>
                    Shrt_Desc
                </th>
                <th>
                    ComName
                </th>
                <th>
                    ManufacName
                </th>
                <th>
                    Survey
                </th>
                <th>
                    Ref_Desc
                </th>
                <th>
                    Refuse
                </th>
                <th>
                    SciName
                </th>
                <th>
                    N_Factor
                </th>
                <th>
                    Pro_Factor
                </th>
                <th>
                    Fat_Factor
                </th>
                <th>
                    CHO_Factor
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
