@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BootstrapLite/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span12">
        <h1>
            Bootstrap 2 Demo</h1>
    </div>
</div>
<div class="row">
    <div class="span12" style="margin-bottom: 20px;">
        <div class="btn-group">
            <a class="btn" href="#">One</a> <a class="btn" href="#">Two</a> <a class="btn" href="#">
                Three</a> <a class="btn" href="#">Four</a> <a class="btn" href="#">Five</a>
            <a class="btn" href="#">Six</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="progress">
            <div class="bar" style="width: 20%;">
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="progress progress-danger progress-striped active">
            <div class="bar" style="width: 60%;">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="progress">
            <div class="bar" style="width: 40%;">
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="progress progress-danger progress-striped active">
            <div class="bar" style="width: 40%;">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="progress">
            <div class="bar" style="width: 60%;">
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="progress progress-danger progress-striped active">
            <div class="bar" style="width: 20%;">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <ul class="thumbnails">
            <li class="span3"><a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a></li>
            <li class="span3"><a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a></li>
            <li class="span3"><a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a></li>
            <li class="span3"><a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a></li>
            <li class="span3"><a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a></li>
            <li class="span3"><a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a></li>
            <li class="span3"><a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a></li>
            <li class="span3"><a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a></li>
        </ul>
    </div>
</div>
