@model dynamic

@{
    ViewBag.Title = "AngularJS";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
@section head {
    <link rel="stylesheet" href="@Url.Content("~/Content/todo.css")"  />
}

<h2>Todo</h2>

<div ng-app>
    

    <div ng-controller="TodoCtrl">
        <span>{{remaining()}} of {{todos.length}} remaining</span>
        [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
          <li ng-repeat="todo in todos">
              <input type="checkbox" ng-model="todo.done">
              <span class="done-{{todo.done}}">{{todo.text}}</span>
          </li>
      </ul>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30"
                placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>




</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="@Url.Content("~/scripts/todo.js")"></script>

    @*@System.Web.Optimization.Scripts.Render("~/bundles/favoriteSummary")*@
}
